@charset "utf-8";

/* Purpose: CSS document for booking page */
/* Developed by: Jia Zhu, Tingting Song, Xiaotong Zhang */
/* Script Date: September 12, 2021 */


/*******************************/
/********* Index CSS *********/
/*******************************/

.bookingBody {
    display: block;
    box-shadow: #ddbdbd 0.5em 0.8em 1em;
    font-family: "Lemon", cursive;
    max-height: 160em;
}

header {
    background-color: #540B0E;
    height: 200px;
}

header img {
    width: 150px;
    position: relative;
    right: 430px;
}

header h1 {
    float: left;
    position: relative;
    left: 5em;
    top: 55px;
    font-weight: bold;
    font-family: 'Special Elite', cursive;
    color: white;
    font-size: 2.6em;
}

header nav {
    background-color: #E09F3E;
    height: 50px;
    text-align: center;
}

nav h2 {
    display: inline;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    padding: 15px;
    position: relative;
    top: 8px; 
    font-family: 'Lemon', cursive;
    font-size: large;
}

nav h2:hover {
    background-color: #540B0E;
}

nav h2 a:hover {
    color: #E09F3E;
}

nav h2 a {
    text-decoration: none;
    color: #540B0E;
}
#timeHeading {
  color: rgb(0, 183, 255);
  font-family: 'Times New Roman', Times, serif;
  font-size: 16px;
  margin-left: 900px;
  margin-top: -90px;
}
div#dateNow {
  display: block;
  margin-top: -25px;
  margin-left: 1000px;
  border: hidden;
  color: rgb(0, 183, 255);
  width: 200px;
  font-size: 16px;
  font-family: 'Times New Roman', Times, serif;
  line-height: 1.1em;
  font-weight: 600;
}


/*******************************/
/********* Booking CSS *********/
/*******************************/
.booking {
    position: relative;
    width: 100%;
    background: #ffffff;
    background-image: url(/images/background.jpg);
}

.booking .booking-content {
    font-family: 'Lemon', cursive;
    margin-left:80px;
    padding: 45px 0 15px 0;
    color: white;
}

.booking .booking-content .section-header {
    font-family: 'Lemon', cursive;
    margin-bottom: 30px;
}

.booking .booking-form {
    width: 450px;
    height: auto;
    float: right;
    padding: 30px 30px;
    margin-right: 80px;
    background: #fbaf32;
}

.booking .booking-form .control-group {
    margin-bottom: 15px;
}

.booking .booking-form .input-group-text {
    position: absolute;
    padding: 0;
    border: none;
    background: none;
    top: 15px;
    right: 15px;
    color: #ffffff;
    font-size: 14px;
}

.booking .booking-form .form-control {
    height: 45px;
    font-size: 14px;
    color: rgb(3, 3, 3);
    padding: 0 15px;
    border-radius: 5px;
    border: 1px solid #ffffff;
    background: transparent;
}


.booking .booking-form .btn.custom-btn {
    width: 100%;
    color: #fbaf32;
    background: #ffffff;
    border: 1px solid #ffffff;
}

.booking .booking-form .btn.custom-btn:hover {
    color: #ffffff;
    background: transparent;
}

.booking .booking-form .input-group [data-toggle="datetimepicker"] {
    cursor: default;
}

/* For desktop: 
.col-lg-5 {width:30%}
.col-lg-7 {width:70%}

https://www.w3schools.com/css/css_rwd_mediaqueries.asp

@media only screen and (max-width: 768px) {
     For mobile phones: 
    [class*="col-"] {
      width: 100%;
    }
  }
 */


/*********  footer CSS *********/
.app {
    padding: 1.3em;
    background-image: url(/images/background.jpg);  
  }
  
  #appdownloadleft {
    float: left;
    width: 50%;
    height: auto;
  }
  
  #appdownloadleft {
    float: right;
    width: 50%;
    height: auto;
  }
  
  #appstore {
    position: relative;
    margin-top: 10px;
    bottom: 0;
    padding-left: 25px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  
  #googleplay {
    position: relative;
    bottom: 0;
    display: block;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
  }

footer {
    background-color: #9E2A2B;
    text-align: center;
    position: relative;
    bottom: 0px;
}

footer h2 {
    display: inline;
    margin-right: auto;
    padding: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 12px;
    color: white;
}

footer h3 {
    padding-bottom: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 10px;
    color: white;
}
