@charset "utf-8";

/* Purpose: CSS document for event page */
/* Developed by: Jia Zhu, Tingting Song, Xiaotong Zhang */
/* Script Date: September 12, 2021 */


.eventbody {
    display: block;
    box-shadow: #ddbdbd 0.5em 0.8em 1em;
    font-family: "Lemon", cursive;
    max-height: 160em;
  }

.eventSection{
    position: relative;
    padding: 2em 0 1em 0;
    background-image: url(/images/background.jpg);
}

.eventDiv{
    display: grid;
} 

.event p{
    padding: 0 0.5em 0 0.5em;
    color: white;
}

.eventimg{
    float: left;
    width: 20em;
    padding: 1em;
}

.calenderDiv{
    height: 35em;
    text-align: center;
    padding: 1em;
    background-color: blanchedalmond;
}

/*************************** footer part ***************************/
.app {
    padding: 0.5em;
  }
  
  #appdownloadleft {
    float: left;
    width: 50%;
    height: auto;
  }
  
  #appdownloadleft {
    float: right;
    width: 50%;
    height: auto;
  }
  
  #appstore {
    position: relative;
    margin-top: 10px;
    bottom: 0;
    padding-left: 25px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  
  #googleplay {
    position: relative;
    bottom: 0;
    display: block;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
  }
  
  footer {
    background-color: #9e2a2b;
    text-align: center;
    position: relative;
    top: 0px;
  }
  
  footer h2 {
    display: inline;
    margin-right: auto;
    padding: 10px;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
    font-size: 12px;
  
    color: white;
  }
  
  footer h3 {
    padding-bottom: 10px;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
    font-size: 10px;
    color: white;
  }
  