@charset "utf-8";

/* Purpose: CSS document for order page */
/* Developed by: Jia Zhu, Tingting Song, Xiaotong Zhang */
/* Script Date: September 12, 2021 */

.orderbody{
    display: block;
    box-shadow: #ddbdbd 0.5em 0.8em 1em;
    font-family: 'Lemon', cursive;
    max-height: 160em;
}

.orderSection {
    position: relative;
    padding: 2em 0 1em 0;
    background-image: url(/images/background.jpg);    
}

.orderAside{
    border: 1px solid blue;
    height: 100em;
    float: right;
    background-color: blueviolet;
    width: 40%;
}

.orderMenu{
    display: block;
    width: 59%;
}

.orderMenu h2{
    text-align: center;
    color: #9E2A2B;
    padding-top: 1em;
}
.menu-header{
    text-align: center;
}

.menu-header h1{
    color: #e05414;
    font-size: xx-large;
}

.nav{
    text-align: center;
}

.menu-header ul li{
    list-style-type: none;
    display: inline;
    padding-right: 0.5em;
}

.menu-header .nav-link {
    color: white;
    background: #ce9335;
    border-radius: 0.5em;
    margin: 0 0.2em;
    padding: 0.3em;
    text-decoration: none;
}

.menu-header .nav-link:hover,.menu-tab .nav-link.active {
    font-weight: bold;
    background: #bd63c9;
    text-decoration: underline;
}

.burgerdiv, .sidediv,.drinkdiv{
    background-color: #f1cc95;
}

.menu-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.menu-item{
    margin: 0.5em;
}

.menu-title {
    display: block;
    width: 100%;
    text-align: center;
    font-weight: 400;
    font-size: 1em;

    margin-bottom: 0.5em;
  }

.item-image{
    height: 9em;
    border-radius: 1.5em;
  } 

.menu-detail{
    display: flex;
    align-items: center;
    padding: 0.3em;
  }

.item-price{
    flex-grow: 1;
    color: rgb(54, 45, 45);
}

.order-button{
    background-image: linear-gradient(#e9b595,#de6262);
    padding: 0.3em;
    margin-left: 5px;
    border-radius: 0.8em;
}

/*************************** footer part ***************************/
.app{
    padding: 0.5em;
}

#appdownloadleft {
    float: left;
    width: 50%;
    height: auto;
}

#appdownloadleft {
    float: right;
    width: 50%;
    height: auto;
}

#appstore {
    position: relative;
    bottom:0;
    padding-left: 25px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#googleplay {
    position: relative;
    bottom: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

footer {
    background-color: #9E2A2B;
    text-align: center;
    position: relative;
    top: 0px;
}

footer h2 {
    display: inline;
    margin-right: auto;
    padding: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 12px;

    color: white;
}

footer h3 {
    padding-bottom: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 10px;
    color: white;
}