@charset "utf-8";

/* Purpose: CSS document for order page */
/* Developed by: Jia Zhu, Tingting Song, Xiaotong Zhang */
/* Script Date: September 12, 2021 */

/******************************** CSS for main part ********************************/
.cartBody {
  display: block;
  font-family: "Lemon", cursive;
  max-height: 160em;
}

.cart-box-main {
  position: relative;
  padding: 2em 0 1em 0;
  background-image: url(/images/background.jpg);
}

.cart-box-main h2 {
  font-size: 2.5em;
  text-align: center;
  padding-top: 16px;
  margin-top: 12px;
  font-family: "Lemon", cursive;
  color: white;
}

.img-fluid {
  width: 150px;
  height: 100px;
}

.table {
  margin-left: 100px;
  text-align: center;
  background-color: #e09f3e;
  padding: 0.2em;
  width: 1000px;
}

.table thead th {
  font-size: 1.2em;
  background-color: #9e2a2b;
  height: 10px;
  width: 140px;
}

.remove-pr:hover {
  color: #9e2a2b;
}

input[type="number"] {
  font-size: 1.2em;
  font-weight: 600;
  width: 5em;
}

input[type="text"] {
  font-size: 16px;
  font-weight: 600;
  width: 200px;
  height: 45px;
  border-radius: 5px;
}

:-ms-input-placeholder {
  font-size: 24px;
  font-weight: 600;
  text-align: center;
}

.summaryContent {
  margin-top: 1em;
  margin-left: 36em;
  margin-right: 14em;
  background-color: #e09f3e;
  padding: 1em 0.5em 0.2em 0.5em;
  width: 510px;
}

.d-flex div {
  float: right;
}

.btn-checkout {
  display: block;
  margin: 1em auto 1em auto;
  font-size: 1em;
  color: white;
  background-color: #3189d1;
  border-radius: 0.4em;
  font-weight: bold;
  padding: 0.5em 1em 0.5em 1em;
}

.btn-checkout:hover {
  color: #9e2a2b;
  background-color: bisque;
  text-decoration: none;
}

/*************************** footer part ***************************/
.app {
  padding: 0.5em;
}

#appdownloadleft {
  float: left;
  width: 50%;
  height: auto;
}

#appdownloadleft {
  float: right;
  width: 50%;
  height: auto;
}

#appstore {
  position: relative;
  margin-top: 10px;
  bottom: 0;
  padding-left: 25px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#googleplay {
  position: relative;
  bottom: 0;
  display: block;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}

footer {
  background-color: #9e2a2b;
  text-align: center;
  position: relative;
  top: 0px;
}

footer h2 {
  display: inline;
  margin-right: auto;
  padding: 10px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 12px;

  color: white;
}

footer h3 {
  padding-bottom: 10px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 10px;
  color: white;
}
