@charset "utf-8";

/* Purpose: CSS document for booking */
/* Developed by: Xiaotong Zhang */
/* Script Date: Sep  2021 */

.checkout {
    position: relative;
    padding-top: 30px;
    width: 100%;
    background: #ffffff;
    background-image: url(/images/background.jpg);
}

.checkout .checkout-inner {
    margin-bottom: 30px;
    padding: 30px;
    background: #ffffff;
}

.checkout .billing-address,
.checkout .shipping-address {
    position: relative;
    width: 100%;
}

.checkout .shipping-address {
    display: none;
    margin-top: 30px;
}

.checkout .billing-address h2,
.checkout .shipping-address h2 {
    font-size: 25px;
    margin-bottom: 20px;
}

.checkout .checkout-summary,
.checkout .checkout-payment {
    position: relative;
    width: 100%;
}

.checkout .checkout-summary h1,
.checkout .checkout-payment h1 {
    font-size: 25px;
    margin-bottom: 20px;
}

.checkout .checkout-summary,
.checkout .checkout-payment .payment-methods {
    padding: 30px;
    background: #f3f6ff;
    margin-bottom: 30px;
}

.checkout .checkout-summary p.sub-total,
.checkout .checkout-summary p.ship-cost {
    padding-top: 15px;
    border-top: 1px solid #dddddd;
}

.checkout .checkout-summary p span,
.checkout .checkout-summary h2 span {
    float: right;
}

.checkout .checkout-summary h2 {
    font-size: 20px;
    padding-top: 12px;
    border-top: 1px solid #dddddd;
    margin: 0;
}

.checkout .checkout-payment .payment-methods .payment-content {
    display: none;
}

.checkout .checkout-payment .checkout-btn button {
    width: 100%;
    height: 50px;
    padding: 2px 10px;
    font-family: 'Source Code Pro', monospace;
    font-weight: 700;
    font-size: 25px;
    text-align: center;
    color: white;
    background: #fbaf32;
    border: none;
    border-radius: 4px;
    transition: all .3s;
}

.checkout .checkout-payment .checkout-btn button:hover {
    color: #fbaf32;
    background: lightgray;
}

.payment-icon {
    display: inline-block;
    padding: 10px 0px;
}
.payment-icon ul li {
    list-style-type: none;
    width: 20%;
    float: left;
}

/* CSS for checkout done page*/
.donebody{
    background-image: url("../images/background.jpg");
}

.donebody h1{
    color: white;
}

.message-done{
    padding-top: 10px;
    text-align: center;
}

/**********************************/
/********* Form Input CSS *********/
/**********************************/
.form-control,
.custom-select {
    width: 100%;
    height: 35px;
    padding: 0 15px;
    color: #999999;
    border: 1px solid #dddddd;
    margin-bottom: 15px
}

.form-control:focus,
.custom-select:focus {
    box-shadow: none;
    border-color: #FF6F61;
}

.custom-radio,
.custom-checkbox {
    margin-bottom: 15px;
}

.custom-radio .custom-control-label::before,
.custom-checkbox .custom-control-label::before {
    background: #dddddd;
    border-color: #dddddd;
}

.custom-radio .custom-control-input:checked~.custom-control-label::before,
.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    color: #ffffff;
    background: #FF6F61;
    border-color: #FF6F61;
    box-shadow: none;
}

.btn {
    color: #FF6F61;
    background: #ffffff;
    border: 1px solid #FF6F61;
}

.btn:hover,
.btn:active,
.btn:focus {
    color: #ffffff;
    background: #FF6F61;
    box-shadow: none;
}


/*********  footer CSS *********/

.app {
    padding: 1em;
    background-image: url(/images/background.jpg);
}
  
  #appdownloadleft {
    float: left;
    width: 50%;
    height: auto;
  }
  
  #appdownloadleft {
    float: right;
    width: 50%;
    height: auto;
  }
  
  #appstore {
    position: relative;
    margin-top: 10px;
    bottom: 0;
    padding-left: 25px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  
  #googleplay {
    position: relative;
    bottom: 0;
    display: block;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
  }

footer {
    background-color: #9E2A2B;
    text-align: center;
    position: relative;
    bottom: 0px;
}

footer h2 {
    display: inline;
    margin-right: auto;
    padding: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 12px;
    color: white;
}

footer h3 {
    padding-bottom: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 10px;
    color: white;
}
