@charset "utf-8";
/* Purpose: CSS document for contact page */
/* Developed by: Jia Zhu, Tingting Song, Xiaotong Zhang */
/* Script Date: September 12, 2021 */

main {
  background-image: url("../images/background.jpg");
  background-repeat: repeat;
  background-size: cover;
  padding-bottom: 25px;
  padding-top: 20px;
  margin-bottom: 0;
}

main h2 {
  font-family: "Special Elite", cursive;
  font-size: 36px;
  color: white;
  text-align: center;
  padding: 10px;
  margin-top: 35px;
  margin-bottom: 5px;
}
p {
  font-family: "Special Elite", cursive;
  font-size: 30px;
  color: white;
  text-align: center;
  margin-bottom: 40px;
  margin-top: 0;
}

.contact-icon {
  position: relative;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fbaf32;
  border-radius: 50px;
  margin-left: 10px;
}

.contact-icon i {
  font-size: 18px;
  color: #ffffff;
}

.contact-info span {
  font-size: 24px;
  color: white;
  position: relative;
  font-weight: 600;
}
.contact-info p {
  font-size: 18px;
  color: #fbaf32;
  position: absolute;
  font-weight: 600;
  margin-left: 100px;
  margin-top: -30px;
}

.contact-social {
  position: absolute;
  margin-left: 270px;
  margin-top: -30px;
  font-size: 18px;
  margin-right: 10px;
  color: #fbaf32;
  margin-bottom: 16px;
}

iframe {
  border-radius: 15px;
  margin-top: 24px;
  margin-left: 10px;
}

main h3 {
  position: relative;
  font-family: "Special Elite", cursive;
  color: #fbaf32;
  font-weight: 600;
  margin-left: 120px;
  margin-top: 50px;
  margin-bottom: 10px;
  font-size: 24px;
}
#contact-us-form {
  margin-left: 5px;
}
form {
  border-radius: 5px;
  border-color: lightgrey;
  color: blue;
  margin-bottom: 10px;
  padding: 10px;
  font-size: 16px;
}
input[type="text"],
input[type="email"] {
  font-size: 16px;
  width: 600px;
}
textarea {
  font-size: 12px;
  width: 600px;
}

input[type="submit"] {
  font-size: 16px;
  font-weight: 600;
  background-color: #fbaf32;
  color: white;
  width: 180px;
  height: 45px;
  border-radius: 5px;
}
video {
  margin-top: 10px;
  margin-bottom: 0;
}

#hiring {
  position: absolute;
  margin-top: -200px;
  margin-left: 650px;
  font-size: 14px;
  border-style: hidden;
}
#hiring h2 {
  color: white;
  margin-top: 10px;
  margin-bottom: -5px;
}
#hiring h3 {
  font-family: "Special Elite", cursive;
  margin-top: 5px;
  font-size: 20px;
}
#hiring h3 a:link {
  color: white;
}
#appdownloadleft {
  float: left;
  width: 50%;
  height: auto;
}

#appdownloadleft {
  float: right;
  width: 50%;
  height: auto;
}

#appstore {
  position: relative;
  bottom: 0;
  padding-left: 25px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#googleplay {
  position: relative;
  bottom: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

footer {
  background-color: #9e2a2b;
  text-align: center;
  position: relative;
  padding: 10px;
}

footer h2 {
  display: inline;
  margin-right: auto;
  padding: 10px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 12px;
  color: white;
}

footer h3 {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 10px;
  color: white;
}
