@charset "utf-8";

/* Purpose: CSS document for order page */
/* Developed by: Jia Zhu, Tingting Song, Xiaotong Zhang */
/* Script Date: September 12, 2021 */

#timeHeading {
  color: rgb(0, 183, 255);
  font-size: 16px;
  font-family: 'Times New Roman', Times, serif;
  margin-left: 850px;
  margin-top: -80px;
}

div#dateNow {
  display: block;
  margin-top: -32px;
  margin-left: 950px;
  border: hidden;
  color: rgb(0, 183, 255);
  font-family: 'Times New Roman', Times, serif;
  font-size: 16px;
  font-weight: 600;
}

.orderbody {
  display: block;
  box-shadow: #ddbdbd 0.5em 0.8em 1em;
  font-family: "Lemon", cursive;
  max-height: 160em;
}

.orderSection {
  position: relative;
  padding: 2em 0 1em 0;
  background-image: url(/images/background.jpg);
}

.orderMenu {
  display: block;
  width: auto;
}

.orderMenu h2 {
  text-align: center;
  color: #9e2a2b;
  padding-top: 0.5em;
}
.menu-header {
  text-align: center;
}

.menu-header h1 {
  margin-top: 0;
  color: #e09f3e;
  font-size: xx-large;
}

.nav {
  text-align: center;
  height: 50px;
}

.menu-header ul li {
  list-style-type: none;
  display: inline;
  padding-right: 0.5em;
}

.menu-header .nav-link {
  color: white;
  background: #ce9335;
  border-radius: 0.5em;
  margin: 0 0.2em;
  padding: 0.3em;
  text-decoration: none;
}

.menu-header .nav-link:hover,
.menu-tab .nav-link.active {
  font-weight: bold;
  background: #bd63c9;
  text-decoration: underline;
}

.ajaxDiv{
  text-align: center;
  font-weight: bold;
}

.showBtn{
  border-radius: 0.5em;
  background: #ce9335;
  color: rgb(180, 41, 41);
  padding: 0.5em;
  font-family: "Lemon", cursive;
}

#resultContent{
    color:  rgb(180, 41, 41);
    padding-left: 1em;
}

.burgerdiv,
.sidediv,
.drinkdiv {
  background-color: #f1cc95;
}

.menu-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.menu-item {
  margin: 0.5em;
}

.menu-title {
  display: block;
  width: 100%;
  text-align: center;
  font-weight: 400;
  font-size: 1em;

  margin-bottom: 0.5em;
}

.menu-image {
  width: 180px;

  height: 9em;
  border-radius: 1.5em;
}

.menu-detail {
  display: flex;
  align-items: center;
  padding: 0.3em;
}

.menu-price {
  flex-grow: 1;
  color: rgb(54, 45, 45);
}

.order-button {
  background-image: linear-gradient(#e9b595, #de6262);
  padding: 0.3em;
  margin-left: 5px;
  border-radius: 0.8em;
}
/***************************cart part******************************/
.cart-section{
  background-color: #f1cc95;
  padding-bottom: 0.1em;
}

.cart-header {
  text-align: center;
  color: #9e2a2b;
  padding-top: 1em;
}

.cart-column{
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgb(39, 37, 37);
  margin: 0.5em 1em 0 0;
  padding-bottom: 0.5em;
  color: #1d1919;
}

.cart-row {
  display: flex;
}

.cart-item {
  width: 45%;
}

.cart-price {
  width: 20%;
  font-size: 1em;
  color: rgb(26, 24, 24);
}

.cart-quantity {
  width: 35%;
}

.cart-image{
  width: 5em;
  height: auto;
  border-radius: 0.5em;
}

.cart-title{
  color: black;
  margin-left: 1em;
  font-size: 1em;
}

.cart-item-quantity{
  height: 2em;
  width: 2em;
  border-radius: 0.2em;
  border: 1px solid #13181a;
  background-color: #eee;
  color: #333;
  padding: 0;
  text-align: center;
  font-size: 1.2em;
  margin:1em 1.5em 0 0 ;
}

.cart-row:last-child {
  border-bottom: 1px solid black;
}

.cart-row:last-child .cart-column {
  border: none;
}

.btn-remove {
  text-align: center;
  padding: 0.67em;
  cursor: pointer;
  background-color: #de6262;
  border-radius: 0.5em;
}

#subtotalValue{
  background-color: #f0ca8d;
  padding: 0.2em;
  text-align: right;
  font-family: "Lemon", cursive;
}
.cart-total {
  text-align: end;
  margin-top: 1em;
  margin-right: 1em;
}

.cart-total-title {
  font-weight:300;
  font-size: 1.5em;
  color: black;
  margin-right: 1.5em;
}

.cart-totalPrice{
  color: #333;
  font-size: 1.1em;
}

.btnPlaceOrder{
  display: block;
  margin: 1em auto 1em auto;
  font-size: 1em;
  color: white;
  background-color: #3189d1;
  border-radius: 0.5em;
  font-weight: bold;
  padding: 0.5em 1em 0.5em 1em;
  text-align: center;
}

.btnPlaceOrder:hover {
  background-color: #a5545f;
}

/*************************** footer part ***************************/
.app {
  padding: 0.5em;
}

#appdownloadleft {
  float: left;
  width: 50%;
  height: auto;
}

#appdownloadleft {
  float: right;
  width: 50%;
  height: auto;
}

#appstore {
  position: relative;
  margin-top: 10px;
  bottom: 0;
  padding-left: 25px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#googleplay {
  position: relative;
  bottom: 0;
  display: block;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}

footer {
  background-color: #9e2a2b;
  text-align: center;
  position: relative;
  top: 0px;
}

footer h2 {
  display: inline;
  margin-right: auto;
  padding: 10px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 12px;

  color: white;
}

footer h3 {
  padding-bottom: 10px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 10px;
  color: white;
}
