@charset "utf-8";

/* Purpose: CSS document for index page */
/* Developed by: Jia Zhu, Tingting Song, Xiaotong Zhang */
/* Script Date: September 12, 2021 */

/*******************************/
/********* Index CSS *********/
/*******************************/

body {
  margin: auto;
  max-width: 1200px;
  min-width: 800px;
  max-height: 160em;
  box-shadow: #ddbdbd 0.5em 0.8em 1em;
}

main {
  background-image: url("../images/background.jpg");
  background-repeat: repeat;
  padding-bottom: 25px;
  padding-top: 20px;
}

header {
  background-color: #540b0e;
  height: 200px;
}

header img {
  width: 150px;
  position: relative;
  right: 430px;
}

#headerimgfr {
  position: relative;
  right: 290px;
}

header h1 {
  float: left;
  position: relative;
  left: 5em;
  top: 30px;
  font-family: "Special Elite", cursive;
  color: white;
  font-size: 2.6em;
}

header nav {
  background-color: #e09f3e;
  height: 50px;
  text-align: center;
}

nav h2 {
  display: inline;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  padding: 15px;
  position: relative;
  top: 8px;
  font-family: "Lemon", cursive;
  font-size: large;
}

nav h2:hover {
  background-color: #540b0e;
}

nav h2 a:hover {
  color: #e09f3e;
}

nav h2 a {
  text-decoration: none;
  color: #540b0e;
}

div h3 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

#timeHeading {
  color: rgb(0, 183, 255);
  font-size: 16px;
  font-family: 'Times New Roman', Times, serif;
  margin-left: 900px;
  margin-top: -80px;
}
div#dateNow {
  display: block;
  margin-top: -32px;
  margin-left: 1000px;
  border: hidden;
  color: rgb(0, 183, 255);
  font-family: 'Times New Roman', Times, serif;
  font-size: 16px;
  font-weight: 600;
}

#mainburguerimg {
  position: relative;
  width: 100%;
  height: 650px;
  margin-top: -20px;
}

#mainburguertext {
  color: white;
  display: flex;
  position: relative;
  bottom: 450px;
  left: 30px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 30px;
}

#menuburguers {
  position: relative;
  bottom: 134px;
  height: auto;
}

#leftmenu {
  float: left;
  width: 50%;
  height: 1300px;
}

#rightmenu {
  float: right;
  width: 50%;
  height: 1300px;
}

#burguer1img {
  position: relative;
  width: 90%;
  height: auto;
  padding: 30px;
}

#burguer1txt {
  position: relative;
  bottom: 103px;
  width: 270px;
  text-align: center;
  background-color: rgba(84, 11, 14, 0.7);
  padding: 10px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
#burguer1txt a {
  color: white;
  text-decoration: none;
}

#burguer2img {
  position: relative;
  bottom: 115px;
  width: 90%;
  height: auto;
  padding: 30px;
}

#burguer2txt {
  position: relative;
  bottom: 218px;
  width: 270px;
  text-align: center;
  color: white;
  background-color: rgba(84, 11, 14, 0.7);
  padding: 10px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
#burguer2txt a {
  color: white;
  text-decoration: none;
}
#burguer3img {
  position: relative;
  bottom: 230px;
  width: 90%;
  height: auto;
  padding: 30px;
}

#burguer3txt {
  position: relative;
  bottom: 330px;
  width: 270px;
  text-align: center;
  color: white;
  background-color: rgba(84, 11, 14, 0.7);
  padding: 10px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

#burguer4img {
  position: relative;
  bottom: 350px;
  width: 90%;
  height: auto;
  padding: 30px;
}

#burguer4txt {
  position: relative;
  bottom: 450px;
  width: 270px;
  text-align: center;
  color: white;
  background-color: rgba(84, 11, 14, 0.7);
  padding: 10px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

#burguer5img {
  position: relative;
  width: 90%;
  height: auto;
  padding: 30px;
}

#burguer5txt {
  position: relative;
  bottom: 103px;
  width: 270px;
  text-align: center;
  color: white;
  background-color: rgba(84, 11, 14, 0.7);
  padding: 10px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
#burguer5txt a {
  color: white;
  text-decoration: none;
}

#burguer6img {
  position: relative;
  bottom: 115px;
  width: 90%;
  height: auto;
  padding: 30px;
}

#burguer6txt {
  position: relative;
  bottom: 218px;
  width: 270px;
  text-align: center;
  color: white;
  background-color: rgba(84, 11, 14, 0.7);
  padding: 10px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
#burguer6txt a {
  color: white;
  text-decoration: none;
}
#burguer7img {
  position: relative;
  bottom: 230px;
  width: 90%;
  height: auto;
  padding: 30px;
}

#burguer7txt {
  position: relative;
  bottom: 330px;
  width: 270px;
  text-align: center;
  color: white;
  background-color: rgba(84, 11, 14, 0.7);
  padding: 10px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
#burguer8img {
  position: relative;
  bottom: 350px;
  width: 90%;
  height: 300px;
  padding: 30px;
}

#burguer8txt {
  position: relative;
  bottom: 450px;
  width: 270px;
  text-align: center;
  color: white;
  background-color: rgba(84, 11, 14, 0.7);
  padding: 10px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

#appdownloadleft {
  float: left;
  width: 50%;
  height: auto;
}

#appdownloadleft {
  float: right;
  width: 50%;
  height: auto;
}

#appstore {
  position: relative;

  padding-left: 25px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#googleplay {
  position: relative;

  display: block;
  margin-left: auto;
  margin-right: auto;
}

footer {
  background-color: #9e2a2b;
  text-align: center;
  position: relative;
  padding: 10px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

footer h2 {
  display: inline;
  margin-right: auto;
  padding: 10px;
  font-size: 12px;
  color: white;
}

footer h3 {
  font-size: 10px;
  color: white;
}
